<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kreiranje Narudzbine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Ukupna cena</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jelo : ${listaJela}">
                <td th:text="${jelo.naziv}"></td>
                <td th:text="${jelo.cena}"></td>
                <td th:text="${null}"></td>
                <td>
                    <form th:action="@{/narudzbinas/delete}" method="post">
                        <input hidden="hidden" id="narudzbinaBrisanjeId" name="narudzbinaBrisanjeId" th:value="${narudzbina.id}">
                        <input hidden="hidden" id="jeloBrisanjeId" name="jeloBrisanjeId" th:value="${jelo.id}">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/placanjes/naplati}" method="post">
            <input hidden="hidden" id="narudzbinaPlacanjeId" name="narudzbinaPlacanjeId" th:value="${narudzbina.id}">
            <button class="btn btn-success" type="submit">Naplati</button>
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="jelo : ${jelos}">
                <td th:text="${jelo.naziv}"></td>
                <td th:text="${jelo.cena}"></td>
                <td th:text="${jelo.opis}"></td>
                <td>
                    <form th:action="@{/narudzbinas/sto/novaNarudzbina}" method="post">
                        <input hidden="hidden" type="number" id="stoId" name="stoId"  th:value="${stoId}">
                        <input hidden="hidden" type="number" id="jeloId" name="jeloId" th:value="${jelo.id}">
                        <button class="btn btn-primary btn-sm" type="submit">Dodaj</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>